body{
    font-family: 'Poppins', sans-serif;
    margin:0;
}
.flex-container{
    display:flex;
    padding:0 2%;
    margin-bottom: 100px;
    margin-top: 0;
}
#top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
.half-width{
    width:50%;
    padding-left:5%;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.half-width-p{
    padding-right:40px;
}
.orange-color{
    color:orange;
}
.half-width img{
    width:80%;
}
.link-button {
    background-image: linear-gradient(tomato,salmon);
    text-decoration: none;
    color: #ffffff;
    padding: 10px 40px;
    border-radius: 5%;
    font-weight: bold;
    text-transform: uppercase;
}
#dream-big{
    background-image: url("images/dream-bg.png");
    background-repeat:no-repeat;
    background-position:right;
}

#experience-area{
    background-image:url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size:8%;
}


.experience-item {
    box-sizing: border-box;
    width: 42%;
    margin-left: 4%;
    margin-right: 4%;
    padding-left: 35px;
    padding-right: 25px;
    padding-bottom: 65px;
    box-shadow: 3px 3px 40px grey;
}
.full-stack{
    border-left:7px solid;
    border-image:linear-gradient(180deg,tomato,lightsalmon);
    border-image-slice: 1;
}
.baby-dev{
    border-left:7px solid;
    border-image:linear-gradient(180deg,blue,cyan);
    border-image-slice: 1;
}
footer{
    text-align:center;
}